# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env/
pyvenv

# pyenv
# do NOT ignore .python-version because it's a config file
# but ignore the actual shims or local overrides if they exist
.python-history

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
